<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{% static 'styles/index_cont_body.css' %}" rel="stylesheet"/>
    <link href="{% static 'styles/index_style_body.css' %}" rel="stylesheet"/>
</head>
<body>
    <!-- Шапка сайта с кнопками -->
    <header>
        {% include 'web/includes/hat.html' %}
    </header>

    <div class="content">
        Добро пожаловать на соревновательную платформу «Лига Спорта»! Здесь, как участник, Вы можете найти себе мероприятие по душе, чтобы потом поучаствовать в нем, а как организаторы Вы можете создать эти мероприятия и не беспокоиться об итогах матча: наша платформа сделает все за вас!
    </div>

    <div class="table-container">
        <label for="competition_table">Соревнования по различным дисциплинам</label>
        <table id="competition_table">
            <tr>
                <th>Участник 1</th>
                <th>Участник 2</th>
                <th>Дисциплина</th>
                <th>Мероприятие</th>
            </tr>
            <tr>
                <td>Данные 1</td>
                <td></td>
                <td>Данные 2</td>
            </tr>
            <tr>
                <td>Данные 1</td>
                <td></td>
                <td>Данные 2</td>
            </tr>
        </table>
    </div>

</body>
</html>