<!DOCTYPE html>
<html lang="en">
    <h2 style="color: #333; text-align: center;">Расписание боев</h2>
        <table class="fight-table">
            <thead>
                <tr>
                    <th>Бойцы</th>
                    <th>Весовая категория</th>
                </tr>
            </thead>
            <tbody>
                <tr class="champion-fight">
                    <td><a href="#" class="fighter-link">СЕJUDO vs DILLASHAW</a></td>
                    <td class="weight-class">Чемпионский бой (ПЕСО-МОСКА)</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">HARDY vs CROWDER</a></td>
                    <td class="weight-class">ПЕСО ПЕСАДО</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">GILLESPIE vs MEDEIROS</a></td>
                    <td class="weight-class">ПЕСО ЛЕГКО</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">BENAVIDEZ vs ORTIZ</a></td>
                    <td class="weight-class">ПЕСО-МОСКА</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">VANZANT vs OSTOVICH</a></td>
                    <td class="weight-class">ПЕСО-МОСКА</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">TEIXEIRA vs ROBERSON</a></td>
                    <td class="weight-class">ПЕСО МЕЙО-ПЕСАДО</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">HERNANDEZ vs COWBOY</a></td>
                    <td class="weight-class">ПЕСО ЛЕГКО</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">CALDERWOOD vs LIPSKI</a></td>
                    <td class="weight-class">ПЕСО-МОСКА</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">MENIFIELD vs MOREIRA</a></td>
                    <td class="weight-class">ПЕСО МЕЙО-ПЕСАДО</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">SANDHAGEN vs BAUTISTA</a></td>
                    <td class="weight-class">ПЕСО-ГАЛО</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">BERMUDEZ vs EDWARDS</a></td>
                    <td class="weight-class">ПЕСО ЛЕГКО</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">MUHAMMAD vs NEAL</a></td>
                    <td class="weight-class">ПЕСО МЕЙО-СРЕДНИЙ</td>
                </tr>
                <tr>
                    <td><a href="#" class="fighter-link">STEWART vs RENCOUNTRE</a></td>
                <td class="weight-class">ПЕСО МЕЙО-СРЕДНИЙ</td>
                </tr>
            </tbody>
        </table>
</html>